@import url('main-new.css');

hr {
    border-color: #97979757;
}

header.sidebar {
    float: left;
    max-width: 30vw;
    min-width: 250px;
    width: 350px;
    height: 100vh;
    padding: 12px 28px 12px 28px;
    background-color: var(--accentDarkBackgroundTransparent2);
    color: var(--textColor2Transparent);
    overflow-x: hidden;
    overflow-y: auto;

    .collapseHeader {
        cursor: pointer;
        display: block;
        width: 100%;

        span {
            float: right;
        }
    }

    .collapseHeader,
    h2 {
        text-decoration: none;
        font-size: 26px;
        font-weight: bold;
    }

    .sidebarHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttonGroup {
            button {
                background-color: transparent;
                color: var(--textColor1);
                border: none;
                border-radius: 50%;
                padding: 10px;
                aspect-ratio: 1/1;
                cursor: pointer;
                font-size: 30px;
                outline: transparent;
                transition: 0.15s ease;
                transition-property: background-color, outline;

                span {
                    font-size: inherit;
                    transition: 0.5s ease;
                    transition-property: rotate, scale, transform, opacity;
                }

                span.hoverAppear {
                    position: absolute;
                    left: auto;
                    opacity: 0;
                }

                &:hover {
                    background-color: var(--accentDarkBackgroundTransparent1);
                    outline: var(--accentTransparent2) solid 2px;

                    span {
                        transform: scale(1.2);
                    }

                    span.hoverAppear {
                        opacity: 1;
                    }

                    span.hoverDisappear {
                        opacity: 0;
                    }
                }
            }

            .sidebarSettingsButton:hover span {
                rotate: 360deg;
            }
        }
    }

    .sidebarChangeLog {
        ul li {
            margin-bottom: 4px;
        }
    }

    .sidebarContent {
        h4 {
            margin-bottom: 2px;
        }

        p,
        ul {
            margin-top: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 12px;

            a {
                font-size: 18px;
                text-decoration: none;
                transition: color 0.1s ease;
                display: block;
                width: 100%;

                .material-symbols-rounded {
                    vertical-align: top;
                    font-size: 21px;
                    margin-right: 4px;
                }

                &:hover {
                    color: var(--linkColor1);
                }
            }
        }
    }
}

section.mainContent {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 0 12px 12px;

    hr {
        margin: 24px 0 24px 0;
    }

    .mainHeader {
        padding-right: 12px;

        .headerLogo {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .logoName {
                color: var(--accentLight);
                text-shadow: 0 0 20px var(--accent), 0 0 30px var(--accent);
                margin: 0;
                font-size: 60px;
            }

            .logoSubtext {
                color: var(--textColor2Transparent);
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 0;
            }
        }

        .searchForm {
            input {
                width: 100%;
                padding: 12px;
                border-radius: var(--borderRadius1);
                border: none;
                background-color: var(--accentDarkBackgroundTransparent2);
                color: var(--textColor1);
                font-size: 16px;
                outline: transparent;
                transition: 0.15s ease;
                transition-property: background-color, color, outline;

                &:focus {
                    outline: var(--accent) 2px solid;
                    color: var(--textColor2);
                }
            }

            /* Button is just currently here to make the script happy */
            button {
                display: none;
            }
        }
    }

    .apps {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 12px;

        .placeholder {
            display: none;
        }

        .appsButton {
            height: 290px;
            width: 350px;
            padding: 12px;
            overflow: hidden;
            background: transparent;
            border: none;
            cursor: pointer;
            flex-shrink: 0;
            transition: transform 0.15s ease;

            img {
                transition: 0.15s ease;
                transition-property: outline, mask-image;
                outline: transparent;
                border-radius: var(--borderRadius1);
                object-fit: cover;
                width: 100%;
                height: calc(100% - 40px);
                background-color: var(--accentDarkBackgroundTransparent2);
                box-shadow: var(--boxShadow1);
            }

            .appName {
                margin-top: 4px;
                text-align: left;
                font-weight: bold;
                font-size: 18px;
                text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            }

            .overlay {
                transform: translateY(-220px);

                div.tags {
                    position: absolute;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    transform: translateX(-50%);

                    p {
                        background: rgba(255, 255, 255, 0.8);
                        padding: 12px;
                        margin-top: 0;
                        margin-bottom: 0;
                        margin-right: 5px;
                        margin-left: 5px;
                        border-radius: 12vh;
                        color: black;
                        text-align: center;
                        font-size: 16px;
                        min-width: 20px;
                        font-weight: bold;
                    }

                    p.broken {
                        background: rgba(204, 18, 18, 0.8);
                        color: white;
                    }

                    p.fixed {
                        background: rgba(128, 255, 93, 0.8);
                        color: rgb(0, 0, 0);
                    }

                    p.updated {
                        background: rgba(93, 215, 255, 0.8);
                        color: rgb(0, 0, 0);
                    }
                }

                .favorite {
                    display: inline-flex;
                    cursor: pointer;
                    float: right;
                    margin-right: 10px;
                    height: 50px;
                    width: 50px;
                    border: none;
                    background-color: transparent;
                    background-image: var(--starNoFill);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .favorite.favorited,
                .favorite:hover:not(.favorited) {
                    background-image: var(--starFill);
                }

                .favorite.favorited:hover {
                    background-image: var(--starNoFill);
                }
            }

            &:hover,
            &:focus,
            &:focus-within {
                transform: scale(1.05);

                img {
                    outline: var(--accent) solid 2px;
                }
            }
        }
    }

    .apps.wrapApps {
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 12px 0 12px;
    }
}

.overlayMenu {
    pointer-events: none;
    visibility: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--accentDarkBackgroundTransparent2);
    transition: 0.3s ease;
    transition-property: opacity, transform;
    transform: translateX(-100%);
    opacity: 0;

    &.open {
        pointer-events: auto;
        visibility: visible;
        z-index: 1000;
        padding: 12px 28px 12px 28px;
        transform: translateX(0);
        opacity: 1;
    }

    .closeButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px;
        border: none;
        outline: 3px solid var(--accentTransparent);
        background: var(--accentDarkBackgroundTransparent2);
        border-radius: 12px;
        cursor: pointer;
        transition: 0.15s ease;

        &:hover {
            background: var(--accentTransparent);
            outline-color: var(--accent);
        }
    }
}

body:not(.blurEnabled) {
   .overlayMenu {
        backdrop-filter: var(--noBlurFilter);
        -webkit-backdrop-filter: var(--noBlurFilter);
   }
}

#settingsFrame {
    padding: 12px;

    h1.settingsHeader {
        margin: 0;
    }

    ul {
        height: 100%;
        position: absolute;
        overflow-x: hidden;
        margin: 0;
        list-style-type: none;
    }

    ul#settingsList {
        width: 80%;
        padding: 0 12px 12px 0;
        margin: 0;
        color: var(--textColor2Transparent);

        h3:first-child {
            margin-top: 0;
        }

        li.option {
            max-width: 99vw;
            min-width: 290px;
            height: 40px;
            background: var(--accentTransparent2);
            border-radius: 12px;
            margin-top: 8px;
            overflow: hidden;

            p.label {
                float: left;
                margin-left: 10px;
                margin-top: 20px;
                font-size: 18px;
                transform: translateY(-50%);
                font-size: 90%;
                max-width: 80%;
            }

            /* Checkbox */
            input.checkbox {
                background: var(--accentTransparent2);
                border: 3px solid var(--accentTransparent1);
                height: 20px;
                width: 20px;
                cursor: pointer;
                position: relative;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            /* Hide file inputs */
            input[type=file] {
                display: none;
            }

            /* Dropdown */
            select.dropdown {
                background-color: var(--accentTransparent1);
                border: 3px solid var(--accentTransparent1);
                border: none;
                border-radius: 12px;
                padding: 4px 6px 4px 6px;
                color: inherit;
                height: 26px;
                outline: transparent;
                position: relative;
                cursor: pointer;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.15s ease;

                option {
                    background: rgb(26, 32, 48);
                }

                &:focus,
                &:hover {
                    background-color: var(--accent);
                }
            }


            /* Button */
            button {
                background: var(--accentTransparent1);
                height: 25px;
                width: 25px;
                position: relative;
                top: 50%;
                transform: translate(-50%, -50%);
                border: 3px solid var(--accentTransparent1);
                border-radius: 6px;
                cursor: pointer;
                transition: 0.15s ease;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                &:hover {
                    background-color: var(--accent);
                }
            }


            input,
            select,
            button {
                float: right;
                margin-top: 0;
                right: 10px;

                &:focus,
                &:focus-within {
                    outline: 2px solid var(--accentTransparent);
                }
            }
        }
    }

    ul#settingsExtra {
        right: 0;
        width: 20%;
        padding: 12px;
        color: var(--textColor2Transparent);

        ul#socialLinks {
            display: flex;
            width: 100%;
            justify-content: first baseline;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;
            padding: 0;

            li {
                width: 100%;

                a {
                    width: 100%;
                    background: var(--accentTransparent2);
                    display: inline-flex;
                    padding: 8px;
                    border-radius: 40px;
                    color: white;
                    transition: 0.1s ease;
                    text-align: center;
                    font-size: 16px;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--accentTransparent1);
                        text-decoration: underline;

                        .socialIcon {
                            filter: brightness(120%);
                        }
                    }
                }

                .socialText {
                    color: inherit;
                    text-decoration: inherit;
                    margin-left: 8px;
                    font-size: inherit;
                    cursor: inherit;
                }

                .socialIcon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    transition: 0.15s ease;
                    object-fit: cover;
                }
            }
        }
    }
}

.disclaimer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 12px;
    text-align: left;
}