@keyframes blink {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }

  * {
    font-family: monospace;
    color: lime;
  }

  *::selection {
    background: none;
  }

  .apps {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }

  body {
      background: black;
      padding-bottom: 30px;
  }

  .apps button {
      width: 230px;
      height: 160px;
      padding: 8px;
      font-family: inherit;
      font-weight: bold;
      text-align: center;
      color: lime;
      font-size: 25px;
      border: 3px dotted lime;
      background-color: black;
      cursor: pointer;
      transition: 0.2s ease;
      margin: 8px;
  }

  .apps button:hover {
      border: lime 3px solid;
  }

  .name {
    color: lime;
    text-shadow: 0 0 20px lime, 0 0 30px lime;
    font-size: 40px;
    display: inline-flex;
    }

  h1 {
    color: lime;
    font-size: 40px;
    text-align: center;
    cursor: default;
  }

  .thing {
    display: inline-flex;
    margin-left: 5px;
    color: lime;
    animation: blink 1s ease-in-out infinite;
  }

  .disclaimer {
    width: 100%;
    position: fixed;
    bottom: -15px;
    cursor: default;
    background: black;
    border-top: lime 2px dashed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    left: -5px;
  }

  .disclaimer a {
    color: lime;
  }

  .latestUpdate {
    width: 100%;
    position: fixed;
    top: -15px;
    cursor: default;
    background: black;
    border-bottom: lime 2px dashed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    left: -5px;
  }

  .latestUpdate a {
    color: lime;
  }

  #searchForm {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }

  #searchForm input {
    border: lime 1px solid;
    outline: 0;
    color: lime;
    background: black;
  }

  #searchForm #clear {
    border: none;
    outline: none;
    color: lime;
    background: black;
    outline: black 1px solid;
  }

  #searchForm #clear:hover {
    outline: lime 1px solid;
  }

  #searchForm #results {
    color: lime;
  }