:root {
  --accent: rgb(88, 159, 217);
  --accentTransparent: rgba(88, 159, 217, 0.5);
}

@keyframes logoAnim {
  0% {
    text-shadow: 0 0 20px var(--accent), 0 0 20px var(--accent);
  }
  50% {
    text-shadow: 0 0 40px var(--accent), 0 0 40px var(--accent);
  }
  100% {
    text-shadow: 0 0 20px var(--accent), 0 0 20px var(--accent);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes notificationFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes notificationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

* {
  color: inherit;
  font-family: inherit;
  z-index: 2;
}

*::selection {
  background: none;
}

h1 {
  z-index: 2;
  position: relative;
}

a {
  color: white;
}

hr {
  border-color: var(--accent);
}

html {
  background-image: url("https://joebidenrealomg.github.io/da-hub/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

body {
  background: transparent;
  padding-bottom: 30px;
  font-family: Sans-Serif;
  color: white;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#bgFilter {
  backdrop-filter: brightness(80%);
  background: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.apps.square {
  button {
    aspect-ratio: 1;
    width: 200px;
  }
}

.apps.largeTiles {
  button {
    aspect-ratio: 2;
    width: 400px;
    height: 300px;

    p.appName {
      font-size: 120%;
    }
  }
}

.apps {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* margin-top: 50px; */
  animation: fadeIn 0.5s ease;

  button {
    /* transform: rotateX(6deg) rotateY(10deg); */
    width: 300px;
    /*max-width: 100vw;*/
    height: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.15s ease;
    overflow: hidden;
    border: transparent 3px solid;
    flex-grow: 0.5;
    margin: 8px;
    border-radius: 8px;
    position: relative;

    p.appName {
      position: relative;
      z-index: 2;
      text-align: center;
      font-size: 90%;
      top: 60%;
      text-overflow: ellipsis;
      max-width: 100%;
      pointer-events: none;
    }
    
    img.thumbnail {
      margin-top: -100px;
      margin-left: -10%;
      object-fit: cover;
      width: 120%;
      height: 120%;
      opacity: 0;
      transition: 0.5s ease;
      mask-image: linear-gradient(to top, rgba(0,0,0,0.2) 30%,rgba(0,0,0,1) 100%);
    }

    div.overlay::before {
      width: 100%;
      height: 20%;
    }

    div.overlay::after {
      position: absolute;
    }

    img.favorite {
      --width: 50px;
      position: absolute;
      float: right;
      margin-left: calc(50% - var(--width));
      /* margin-top: -205px; */
      background-image: url(../img/icons/star_hollow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: var(--width);
      height: var(--width);
      color: white;
      mask-image: none;
      cursor: pointer;
      z-index: 2;
    }

    img.favorite:hover, img.favorite.favorited {
      background-image: url(../img/icons/star_solid.svg);
    }

    img.favorited:hover {
      background-image: url(../img/icons/star_hollow.svg);
    }

    div.tags {
      position: absolute;
      /* margin-top: -8px;
      margin-left: 2px; */
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      transform: translateX(-50%);

      p {
        background: rgba(255, 255, 255, 0.8);
        padding: 12px;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 12vh;
        color: black;
        text-align: center;
        font-size: 16px;
        height: 20px;
        min-width: 20px;
      }

      p.broken {
        background: rgba(204, 18, 18, 0.8);
        color: white;
      }

      p.fixed {
        background: rgba(128, 255, 93, 0.8);
        color: rgb(0, 0, 0);
      }

      p.updated {
        background: rgba(93, 215, 255, 0.8);
        color: rgb(0, 0, 0);
      }
    }
  }
  
  button:hover {
    border: var(--accent) 3px solid;
    /* transform: rotateX(0deg); */
    
    img.thumbnail {
      mask-image: linear-gradient(to top, rgba(0,0,0,0.4) 30%,rgba(0,0,0,1) 100%);
    }
  }

  button.placeholder {
    background-color: rgba(0,0,0,0.15);
    /* border: rgba(0,0,0,0.15) 3px solid; */
    border: 3px transparent;
    flex-grow: 1;
    cursor: default;
    display: block;
  }

  button.placeholder:not(:only-child) {
    display: none;
  }
}

/* #newApps:has([style="display: none"]) > #favorite {
  left: 50%;
  margin-top: 0;
} */

#favoritesTitle {
  left: 25%;
  margin-top: -5%;
}

.appsGroup {
  display: inline-flex;
}

.smallApps {
  width: 50vw;

  button {
    height: 200px;
    width: 250px;

    * {
      size-adjust: 50%;
    }
  }
}

.name {
  color: var(--accent);
  text-shadow: 0 0 20px var(--accent), 0 0 30px var(--accent);
  font-size: 40px;
  display: inline-flex;
  animation: logoAnim 2s ease-in-out;
  animation-iteration-count: infinite;
}

h1 {
  font-size: 40px;
  text-align: center;
  cursor: default;
}

.thing {
  color: white;
  text-shadow: 0 0 20px white, 0 0 30px white;
  display: inline-flex;
  margin-left: 5px;
  animation: blink 1s ease-in-out infinite;
}

.disclaimer {
  max-width: 100vw;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  background: rgba(0,0,0,0.5);
  border: rgba(255,255,255,0.5) 2px solid;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  padding: 10px;
  margin: 0;
  z-index: 3;
  text-wrap: nowrap;
}

.disclaimer a {
  color: white;
}

.topHeader {
  max-width: 100vw;
  min-width: 300px;
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  background: rgba(0,0,0,0.5);
  border-bottom: rgba(255,255,255,0.5) 3px solid;
  border-right: rgba(255,255,255,0.5) 3px solid;
  border-left: rgba(255,255,255,0.5) 3px solid;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 3;
  margin: 0;

  .buttons {
    width: max-content;
    max-width: 430px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    
    a {
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 15px;
      margin-right: 5px;
      margin-left: 5px;
      background: rgba(0,0,0,0.5);
      border-top: rgba(90, 90, 90, 0.5) 3px solid;
      border-bottom: rgba(255,255,255,0.5) 3px solid;
      border-right: rgba(255,255,255,0.5) 3px solid;
      border-left: rgba(255,255,255,0.5) 3px solid;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      transition: 0.15s ease;
      text-decoration: none;
    }

    a:hover {
      background-color: var(--accentTransparent);
    }
  }
}


#searchForm {
  margin-top: -50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#searchForm input {
  border: rgba(0, 0, 0, 0.5) 3px solid;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding: 8px;
  border-radius: 2vh;
  transition: 0.15s ease;
}

#searchForm input:focus {
  border-bottom: var(--accent) 3px solid;
  border-radius: 1vh 1vh 0 0;
  outline: none;
}

#searchForm #clear {
  border: none;
  background: rgba(0,0,0,0.5);
  outline: black 2px solid;
  margin-right: 8px;
  margin-left: 4px;
  aspect-ratio: 1 / 1;
  width: 40px;
  padding: 8px;
  border-radius: 4vh;
  transition: 0.15s ease;
  font-weight: bold;
  cursor: pointer;
}

#searchForm #clear:hover {
  outline: var(--accent) 3px solid;
}

#searchForm #results {
  color: white;
  position: absolute;
  transform: translateY(-200%);
}

#searchForm input::selection {
  background: rgba(73, 172, 253, 0.5);
}

#appDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: black;
  
  iframe {
    width: 100vw;
    height: 100vh;
    position: absolute;
    outline: none;
    border: none;
  }
  
  .appClose {
    margin: 0;
    position: absolute;
    top: 5px;
    left: 0;
    transform: translateX(-50%);
    padding: 12px;
    border-radius: 4vh;
    background: rgba(0,0,0,0.8);
    border: 3px solid rgba(0, 255, 0, 0.2);
    color: white;
    cursor: pointer;
    transition: 0.15s ease;
    opacity: 0.5;
    /*backdrop-filter: blur(2px);*/
  }
  
  .appClose:hover {
    border: 3px solid white;
    transform: translateX(0);
    left: 5px;
    opacity: 1;
  }
}

div.notifications {
  position: fixed;
  top: 5%;
  justify-content: center;
  width: 100vw;
  pointer-events: none;
  z-index: 99;

  p.notification {
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.5);
    border-top: 3px solid var(--accentTransparent);
    border-right: 3px solid var(--accentTransparent);
    border-bottom: 3px solid var(--accentTransparent);
    padding: 8px;
    border-radius: 0 8px 8px 0;
    animation: notificationFadeIn 0.5s ease;
    text-align: center;
    width: 400px;
    max-width: 100vw;
    z-index: 99;
  }
}