:root {
  --accent: rgb(88, 159, 217);
  --accentLight: rgb(115, 186, 245);
  --accentTransparent: rgba(88, 159, 217, 0.5);
  --accentTransparent2: rgba(88, 159, 217, 0.2);
}

@keyframes particleAnimation {
  0% {
    top: -50px;
    rotate: 0deg;
  }
  100% {
    top: 100vh;
    rotate: 360deg;
  }
}

@keyframes logoAnim {
  0% {
    text-shadow: 0 0 20px var(--accent), 0 0 20px var(--accent);
  }
  50% {
    text-shadow: 0 0 40px var(--accent), 0 0 40px var(--accent);
  }
  100% {
    text-shadow: 0 0 20px var(--accent), 0 0 20px var(--accent);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes notificationFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes notificationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

* {
  color: inherit;
  font-family: inherit;
  z-index: 2;
}

*::selection {
  background: none;
}

h1 {
  z-index: 2;
  position: relative;
}

a {
  color: white;
}

hr {
  border-color: var(--accent);
}

html {
  background-color: rgb(36, 46, 62);
  background-image: url("https://raw.githubusercontent.com/butterdogco/da-hub/refs/heads/main/img/winter%20bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  overflow-x: hidden;
  width: 100vw;
}

body {
  background: transparent;
  padding-bottom: 30px;
  font-family: Sans-Serif;
  color: white;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#bgFilter {
  backdrop-filter: brightness(80%);
  background: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

.apps.Square {
  button {
    aspect-ratio: 1;
    width: 200px;
  }
}

.apps.LargeTiles {
  button {
    aspect-ratio: 2;
    width: 400px;
    height: 300px;

    p.appName {
      font-size: 120%;
    }
  }
}

/* Apps div needs a redesign, it may look pretty but it's hard to find games */
.apps {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  animation: fadeIn 0.5s ease;

  button {
    width: 300px;
    height: 200px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.15s ease;
    overflow: hidden;
    border: transparent 3px solid;
    flex-grow: 0.5;
    margin: 8px;
    border-radius: 8px;
    position: relative;

    p.appName {
      position: relative;
      z-index: 2;
      text-align: center;
      font-size: 90%;
      top: 60%;
      text-overflow: ellipsis;
      max-width: 100%;
      pointer-events: none;
    }
    
    img.thumbnail {
      margin-top: -100px;
      margin-left: -10%;
      object-fit: cover;
      width: 120%;
      height: 120%;
      opacity: 0;
      transition: 0.5s ease;
      mask-image: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 75%, rgba(0,0,0,0.19) 100%);
      /* mask-image: linear-gradient(to top, rgba(0,0,0,0.2) 30%,rgba(0,0,0,1) 100%);
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6038457619375875) 75%, rgba(255,255,255,0) 100%); */
    }

    div.overlay::before {
      width: 100%;
      height: 20%;
    }

    div.overlay::after {
      position: absolute;
    }

    img.favorite {
      --width: 50px;
      position: absolute;
      float: right;
      margin-left: calc(50% - var(--width));
      /* margin-top: -205px; */
      background-image: url(https://raw.githubusercontent.com/butterdogco/da-hub/refs/heads/main/img/icons/star_hollow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: var(--width);
      height: var(--width);
      color: white;
      mask-image: none;
      cursor: pointer;
      z-index: 2;
    }

    img.favorite:hover, img.favorite.favorited {
      background-image: url(https://raw.githubusercontent.com/butterdogco/da-hub/refs/heads/main/img/icons/star_solid.svg);
    }

    img.favorited:hover {
      background-image: url(https://raw.githubusercontent.com/butterdogco/da-hub/refs/heads/main/img/icons/star_hollow.svg);
    }

    div.tags {
      position: absolute;
      /* margin-top: -8px;
      margin-left: 2px; */
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      transform: translateX(-50%);

      p {
        background: rgba(255, 255, 255, 0.8);
        padding: 12px;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 12vh;
        color: black;
        text-align: center;
        font-size: 16px;
        height: 20px;
        min-width: 20px;
      }

      p.broken {
        background: rgba(204, 18, 18, 0.8);
        color: white;
      }

      p.fixed {
        background: rgba(128, 255, 93, 0.8);
        color: rgb(0, 0, 0);
      }

      p.updated {
        background: rgba(93, 215, 255, 0.8);
        color: rgb(0, 0, 0);
      }
    }
  }
  
  button:hover {
    border: var(--accent) 3px solid;
    /* transform: rotateX(0deg); */
    
    img.thumbnail {
      /* mask-image: linear-gradient(to top, rgba(0,0,0,0.4) 30%,rgba(0,0,0,1) 100%); */
      mask-image: linear-gradient(45deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,0.2) 100%);
    }
  }

  button.placeholder {
    background-color: rgba(0,0,0,0.15);
    /* border: rgba(0,0,0,0.15) 3px solid; */
    border: 3px transparent;
    flex-grow: 1;
    cursor: default;
    display: block;
  }

  button.placeholder:not(:only-child) {
    display: none;
  }
}

/* #newApps:has([style="display: none"]) > #favorite {
  left: 50%;
  margin-top: 0;
} */

#favorite {
  float: right;
}

#favoritesTitle {
  left: 25%;
  margin-top: -5%;
}

apps.smallApps {
  width: 50vw;

  button {
    height: 200px;
    width: 250px;

    * {
      size-adjust: 50%;
    }
  }
}

.name, #logo {
  color: var(--accentLight);
  text-shadow: 0 0 20px var(--accent), 0 0 30px var(--accent);
  animation: logoAnim 2s ease-in-out;
  animation-iteration-count: infinite;
}

p.name {
  font-size: 40px;
  display: inline-flex;
}

p, h1 {
  cursor: default;
}

h1 {
  font-size: 40px;
  text-align: center;
}

#newTitle {
  text-align: center;
  font-weight: normal;

  i {
    font-size: 16px;
    font-weight: normal;
  }

  b {
    color: white;
  }
}

.thing {
  color: white;
  text-shadow: 0 0 20px white, 0 0 30px white;
  display: inline-flex;
  margin-left: 5px;
  animation: blink 1s ease-in-out infinite;
}

.disclaimer {
  max-width: 100vw;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  background: rgba(0,0,0,0.5);
  border: rgba(255,255,255,0.5) 2px solid;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  padding: 10px;
  margin: 0;
  z-index: 3;
  text-wrap: nowrap;
}

.disclaimer a {
  color: white;
}

.topHeader {
  /* max-width: 90vw; */
  /* min-width: 400px; */
  width: 100vw;
  min-height: 35px;
  position: fixed;
  text-align: center;
  top: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  cursor: default;
  background: rgba(0,0,0,0.5);
  border-bottom: rgba(255,255,255,0.5) 3px solid;
  /* border-right: rgba(255,255,255,0.5) 3px solid; */
  /* border-left: rgba(255,255,255,0.5) 3px solid; */
  /* border-bottom-right-radius: 20px; */
  /* border-bottom-left-radius: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 3;
  margin: 0;

  #latestUpdate {
    display: inline-block;
    max-width: calc(100vw - 300px);
    overflow-x: hidden;
    text-wrap: wrap;
    word-wrap: break-word;

    span {
      font-size: 14px;
    }
  }

  .buttons {
    width: max-content;
    max-width: 430px;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    
    a {
      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 15px;
      margin-right: 5px;
      margin-left: 5px;
      border-top: rgba(23, 23, 23, 0.5) 3px solid;
      border-bottom: rgba(255,255,255,0.5) 3px solid;
      border-right: rgba(255,255,255,0.5) 3px solid;
      border-left: rgba(255,255,255,0.5) 3px solid;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      transition: 0.15s ease;
      text-decoration: none;
    }

    a:hover {
      background-color: var(--accentTransparent);
      border-top-color: var(--accent);
    }
  }

  #logo {
    position: absolute;
    left: 10px;
    top: -2px;
    height: 45px;
    background: transparent;
    font-size: 30px;
    text-align: center;

    p {
      font-weight: bold;
      transform: translateY(-50%);
    }
  }

  #settingsButton {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 45px;
    width: 45px;
    background: none;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  #settingsButton:hover {
    filter: brightness(80%);
  }
}


#searchForm {
  margin-top: 5px;
  font-size: 16px;

  input, #clear {
    font-size: inherit;
  }

  input {
    border: rgba(0, 0, 0, 0.5) 3px solid;
    border-right: none;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,.7) 100%);
    text-align: center;
    padding: 8px;
    border-radius: 2vh 0 0 2vh;
    transition: 0.15s ease;
    width: 300px;
    margin-right: -4px;
  }

  input:focus {
    outline: none;
  }

  input:focus, input:focus + #clear {
    border-color: var(--accent);
    background-color: var(--accentTransparent);
  }

  #clear {
    background: rgba(0,0,0,0.5);
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,.7) 100%);
    border: rgba(0,0,0,0.5) 3px solid;
    border-left: none;
    width: 36px;
    padding: 8px;
    border-radius: 0 2vh 2vh 0;
    transition: 0.15s ease;
    font-weight: bold;
    cursor: pointer;
  }

  #clear:hover {
    border-color: var(--accent);
    background-color: var(--accentTransparent);
    color: var(--accentLight);
  }

  #results {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200%);
  }
  
  input::selection {
    background: rgba(73, 172, 253, 0.5);
  }
}

#appDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: black;
  
  iframe {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    outline: none;
    border: none;
  }

  .appButtons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    button {
      transform: translateX(-50%);
      padding: 12px;
      border-radius: 4vh;
      background: rgba(0,0,0,0.8);
      border: 3px solid var(--accentTransparent2);
      color: white;
      cursor: pointer;
      transition: 0.15s ease;
      opacity: 0.5;
      margin-bottom: 8px;
    }

    button:hover {
      transform: translateX(0);
      margin-left: 5px;
      background: rgba(0,0,0,0.5);
      border: 3px solid var(--accent);
      opacity: 1;
    }
  }
}

div.notifications {
  position: fixed;
  top: 5%;
  justify-content: center;
  width: 100vw;
  pointer-events: none;
  z-index: 99;

  p.notification {
    background-color: var(--accent);
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,.6) 100%);
    border-top: 3px solid var(--accentTransparent);
    border-right: 3px solid var(--accentTransparent);
    border-bottom: 3px solid var(--accentTransparent);
    padding: 8px;
    border-radius: 0 8px 8px 0;
    animation: notificationFadeIn 0.5s ease;
    text-align: center;
    width: 400px;
    max-width: 100vw;
    z-index: 99;
  }
}

.contextMenu {
  left: 0;
  top: 0;
  position: absolute;
  padding: 4px;
  background: var(--accentTransparent2);
  border-radius: 12px;
  opacity: 1;
  transition: 0.15s ease;
  transition-property: opacity;
  z-index: 999;

  .option {
    cursor: pointer;
    min-width: 200px;
    margin: 3px;
    padding: 16px;
    transition: 0.15s ease;
    border-radius: inherit;
    background: transparent;
    border: none;
    text-align: left;
    font-size: 16px;
    backdrop-filter: brightness(50%);
  }

  .option:first-child:not(:only-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }

  .option:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
  }

  .option:last-child:not(:only-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }

  .option:hover {
    backdrop-filter: brightness(120%);
  }

  .option:active {
    backdrop-filter: 130%;
  }
}

.contextMenu.hide {
  pointer-events: none;
  opacity: 0;
}

.speedrunTimer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.174);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  width: 100px;
  z-index: 20;
  transition: 0.5s ease;
  transition-delay: 1s;
  transition-property: background;

  .timerText {
    text-align: center;
    font-size: 24px;
    height: 20%;
  }

  button {
    width: 50%;
    background: transparent;
    border: none;
    transition: 0.15s ease;
  }

  button:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  button:first-of-type {
    border-radius: 0 0 0 12px;
  }

  button:last-of-type {
    border-radius: 0 0 12px 0;
  }
}

.speedrunTimer:hover {
  background: rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
}

.appSizes {
  text-align: center;
  background: var(--accentTransparent);
  border: 3px solid var(--accent);
  border-radius: 12px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#particlesContainer {
  .particle {
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    pointer-events: none;
    z-index: 1;
    opacity: .5;
    /* animation: particleAnimation 1s linear; */
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;

  .logoSubtext {
    text-align: center;
    margin-top: -70px;
    opacity: 0.5;
  }

  #searchForm {
    align-self: center;
  }
}

@media (max-width: 900px) {
  #latestUpdate { 
    display: none !important;
  }

  .topHeader {
    #logo {
      left: 50%;
      transform: translateX(-50%);
    }

    .buttons {
      max-width: 360px;

      a {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 382px) {
  .logoText .name {
    margin-top: 0;
  }
}