@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('themes/default.css');

* {
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--textColor1);
}

html {
    background-color: var(--mainBackground);
    background-image: var(--mainBackgroundImage);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
}

.backdropBlur {
    backdrop-filter: var(--backdropBlur);
    -webkit-backdrop-filter: var(--backdropBlur);
}

.boxShadow {
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.collapsible {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.15s ease;
}

.collapsible.show {
    max-height: 300px;
    overflow-y: auto;
}