@keyframes noticeClose {
    0% {
        left: 0;
        opacity: 1;
        transform: rotateX(0deg);
    }

    25% {
        left: 50%;
        transform: rotateX(280deg);
    }

    50% {
        top: 0;
        left: 80%;
        background: red;
        transform: rotateX(0deg) rotateZ(130deg);
    }

    75% {
        top: -30%;
        transform: rotateX(270deg) rotateY(90deg);
    }

    100% {
        top: -300px;
        left: -150%;
        background: initial;
        filter: blur(20px) contrast(10000%);
        transform: rotateY(0) rotateZ(130deg);
        opacity: 0;
    }
}

@keyframes wrongPassword {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

* {
    font-family: inherit;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);

    #wrongImage {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 300px;
        height: 200px;
        max-width: 80vw;
        max-height: 30vh;
        opacity: 0;
        transform: translateX(-50%);
        background-image: url('wrong.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #wrongImage.show {
        animation: wrongPassword 1.25s ease-out;
    }

    #wrongImage.correct {
        background-image: url('correct.jpg');
    }

    .notice {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        background-color: rgb(44, 44, 44);
        border: 2px solid rgba(131, 131, 131, 0.5);
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 8px;

            * {
                flex-grow: 1;
            }
        }

        input, button {
            font-size: 16px;
        }

        input {
            padding: 8px;
            background: transparent;
            border: 2px solid rgba(131,131,131,0.5);
            transition: 0.2s ease;
            border-radius: 8px;
            color: white;
            text-align: inherit;
        }

        input:focus {
            background: rgba(131, 131, 131, 0.5)
        }
        
        button {
            width: 100%;
            color: white;
            border-radius: 8px;
            padding: 8px;
            background-color: rgb(121, 121, 255);
            opacity: 0.7;
            border: none;
            cursor: pointer;
            transition: 0.2s ease;
        }
        
        button:hover, button:focus {
            opacity: 1;
        }

        input:not(:placeholder-shown) + button {
            background-color: rgb(121, 121, 255);
            outline: none;
        }

        input:placeholder-shown + button {
            background-color: transparent;
            outline: 2px solid gray;
        }
    }
}

.overlay.close {
    animation: noticeClose 1.7s ease-in;
}

.hidden {
    display: none !important;
}

.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
}

.webgl-content {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.webgl-content .logo,
.progress {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('progressLogo.Light.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 90px;
}

.webgl-content .progress .empty {
    background: url('progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.webgl-content .logo.Dark {
    background-image: url('progressLogo.Dark.png');
}

.webgl-content .progress.Dark .empty {
    background-image: url('progressEmpty.Dark.png');
}

.webgl-content .progress.Dark .full {
    background-image: url('progressFull.Dark.png');
}

.webgl-content .footer {
    margin-top: 5px;
    height: 38px;
    line-height: 38px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 18px;
}

.webgl-content .footer .webgl-logo,
.title,
.fullscreen {
    height: 100%;
    display: inline-block;
    background: transparent center no-repeat;
}

.webgl-content .footer .webgl-logo {
    background-image: url('butterdogco\ wide.png');
    background-size: contain;
    background-position: left;
    width: 230px;
    float: left;
}

.webgl-content .footer .title {
    margin-right: 10px;
    float: right;
}

.webgl-content .footer .fullscreen {
    background-image: url('fullscreen.png');
    width: 38px;
    float: right;
}

#unityContainer {
    width: 100%;
    height: 95%;
}