@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
    --background-color: #fff;
    --text-color: #000;
    --border-color: #ccc;
    --button-bg-color: #eee;
    --button-hover-bg-color: #ddd;

    --red-block: #f44336;
    --green-block: #51ea56;
    --blue-block: #2196f3;
    --yellow-block: #ffeb3b;
    --purple-block: #9c27b0;
    --orange-block: #ff9800;
    --pink-block: #e91e63;
    --cyan-block: #00bcd4;
}
body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}
body.dark-mode {
    --background-color: #333;
    --text-color: #eee;
    --border-color: #666;
    --button-bg-color: #444;
    --button-hover-bg-color: #3b3b3b;

    --red-block: #f44336;
    --green-block: #51ea56;
    --blue-block: #2196f3;
    --yellow-block: #ffeb3b;
    --purple-block: #9c27b0;
    --orange-block: #ff9800;
    --pink-block: #e91e63;
    --cyan-block: #00bcd4;
}
button {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
    background-color: var(--button-hover-bg-color);
}

.container {
    max-width: 800px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.dark-mode #container {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

#game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

#squares {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0;
    margin-bottom: 0;
    width: 100%;
    max-width: 640px;
    height: 640px;
}

.square {
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--text-color);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.square:not(.preview, .preview-wrong) {
    border: 1px solid var(--border-color);
}

#block-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 638px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-left: 20px;
}

#scores {
    width: 640px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

#score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#dark-mode-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.block-pick {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: transparent;
    width: 80%;
    height: 33%;
    margin: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
    touch-action: none;
}

.block-pick[draggable="true"] {
    cursor: grab;
}

.block-pick[draggable="true"]:active {
    cursor: grabbing;
}

.block-pick.dragging {
    position: absolute;
    display: none;
    scale: 0.001;
    z-index: 100;
}

.block-pick div div {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}

.block-pick:hover:not(.selected) {
    background-color: var(--button-hover-bg-color);
}

.block-pick:hover:not(.selected) div div {
    background-color: var(--button-hover-bg-color);
}

#block1,
#block2 {
    margin-bottom: 0;
}

.item {
    display: flex;
    flex-direction: row;
}
.selected {
    border: 3px solid #cacaca;
    filter: brightness(0.9);
}
body.dark-mode .selected {
    border: 3px solid #b2b2b2;
    filter: brightness(1.2);
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffdd;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 10;
}
body.dark-mode #game-over {
    background-color: #333333dd;
    color: var(--text-color);
}

#game-over.hidden {
    display: none;
}

#reshuffle-blocks {
    margin-top: 10px;
    background-color: #444;
    color: #fff;
}
#reshuffle-blocks:hover {
    background-color: #333;
}
body.dark-mode #reshuffle-blocks {
    background-color: #333;
    color: #fff;
}
body.dark-mode #reshuffle-blocks:hover {
    background-color: #222;
}

#game-over-no-lives {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffdd;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 10;
}
body.dark-mode #game-over-no-lives {
    background-color: #333333dd;
    color: var(--text-color);
}

#game-over-no-lives.hidden {
    display: none;
}

#reset-game-no-lives {
    margin-top: 10px;
    background-color: #444;
    color: #fff;
}
#reset-game-no-lives:hover {
    background-color: #333;
}
body.dark-mode #reset-game-no-lives {
    background-color: #333;
    color: #fff;
}
body.dark-mode #reset-game-no-lives:hover {
    background-color: #222;
}

#refresh {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#refresh img {
    margin-right: 8px;
}

#refresh:hover img {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

#refresh h2 img {
    margin: 5px;
    margin-top: 25px;
}

.preview:not(.preview-wrong) {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px dashed var(--text-color);
    filter: brightness(0.8);
}

.preview-wrong {
    position: relative;
}

.preview-wrong::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    pointer-events: none;
}

.preview-wrong {
    outline: 2px dashed #aa1515;
}

.square[data-row="0"][data-col="0"] {
    border-top-left-radius: 10px;
}

.square[data-row="0"][data-col="7"] {
    border-top-right-radius: 10px;
}

.square[data-row="7"][data-col="0"] {
    border-bottom-left-radius: 10px;
}

.square[data-row="7"][data-col="7"] {
    border-bottom-right-radius: 10px;
}

#combo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#combo-info h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}

#combo-progress {
    width: 100%;
    height: 15px;
    background-color: var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

#combo-progress-bar {
    height: 100%;
    background-color: var(--green-block);
    width: 100%;
    transition: width 0.3s ease;
}


@media screen and (max-width: 600px) {
    #combo-info {
        width: 320px;
    }
    #refresh h2 {
        margin: 5px;
    }
    .container {
        width: 80%;
    }
    #game {
        flex-direction: column;
        width: 320px;
    }
    #squares {
        width: 320px;
        height: 320px;
    }
    .square {
        width: 38px;
        height: 38px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }
    #block-select {
        width: 320px;
        height: 98px;
        margin-left: 0;
        margin-top: 20px;
        flex-direction: row;
        align-items: center;
    }
    .block-pick {
        width: 30%;
        height: 80%;
        margin: 10px;
    }
    #scores {
        width: 320px;
        margin-right: 0;
    }
    #dark-mode-toggle {
        position: absolute;
        bottom: -25px;
        left: 0;
        justify-content: flex-start;
    }
    #block1,
    #block2 {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .block-pick div div {
        border: 1px solid var(--border-color);
        box-sizing: border-box;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
        width: 15px !important;
        height: 15px !important;
    }
    #game-over {
        width: 90%;
    }
    #game-over-no-lives {
        width: 90%;
    }
    .preview:not(.preview-wrong) {
        border: 1px dashed var(--text-color);
    }

    .block-pick div div {
        width: 38px;
        height: 38px;
    }
}
